<section class="profile-header row-fluid"> 
  <img class="img-polaroid profile-img pull-left" src="/assets/profileimg/<%= profileImgSrc %>" alt="档案图片"> 
  <div class="profile-name"> 
    <h2>欢迎回来，<%= accessid %> <span class="label label-inverse">访问权限等级<%= accesslevel %></span></h2>
    <span>
      <a href="/idn/profile" class="btn btn-primary"> 我的主页 </a>
			<a href="/idn/archive" class="btn btn-info"> 我的文章 </a>
			<%- buttons_extend %>
    </span> 
  </div> 
</section>
<section class="blogsArchive">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#feeds" id="feeds_li"> 追踪条目 </a></li>
    <li><a href="#articles" id="articles_li"> 我的文章 </a></li>
    <li><a href="#contacts" id="contacts_li"> 我的联系人 </a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="feeds">
      <%- recent %>
    </div>
    <div class="tab-pane fade" id="articles">
      <article class="blogPreview">
        <p><a href="\idn\archive\new" class="btn btn-primary btn-large"><i class="icon-plus icon-white"></i> 新条目 </a></p>
      </article>
      <p><span class="label label-info"> 我的文章 </span></p>
      <div class="row-fluid my_recent">
      </div>
    </div>
    <div class="tab-pane fade" id="contacts">
      <div class="row-fluid my_contacts">
        <p><img src="/img/squareajax_30.gif" alt="Loading" /> 载入中 </p>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="/js/idn.js"></script>