  <div class="row-fluid">
      <p><span class="label label-info">Blogs Archive - Edit</span><a class="btn btn-info btn-small pull-right" href="javascript:window.history.back()"><i class="icon-circle-arrow-left icon-white"></i> Return </a></p>
    </div>
  <section class="blogsArchive">
    
    <article data-objid="<%= objid %>">
      <header>
        <div class="btn-group pull-right" data-toggle="buttons-radio">
          <a href="javascript:;" class="btn btn-mini active" id="editor-toggle-html"> HTML </a><a href="javascript:;" class="btn btn-mini" id="editor-toggle-md"> Markdown </a>
        </div>
        <input class="input-xxlarge" type="text" name="entrytitle" id="entrytitle" placeholder="Enter blog title here" value="<%= entrytitle %>"/>
				<div class="accesslevel_div input-append">
					<input class="span2" type="text" name="accesslevel" id="accesslevel" placeholder="Access level" value="<%= accesslevel %>"/>
					<div class="btn-group">
						<button class="btn dropdown-toggle add_exceptions" data-toggle="dropdown"> Exceptions <span class="caret"></span><%- exceptions %></button>
						<ul class="exceptions_menu dropdown-menu">
							<li><a href="javascript:void(0)"><i class="icon-loading"></i> Loading... </a></li>
						</ul>
					</div>
				</div>
                <div class="input-append">
					<input class="span3" type="text" name="tags" id="tags" placeholder="Tags" value="<%= tags %>"/>
					<div class="btn-group">
						<button class="btn dropdown-toggle get_tags_dropdown" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="tags_menu dropdown-menu">
							<li><a href="javascript:void(0)"><i class="icon-loading"></i> Loading... </a></li>
						</ul>
					</div>
				</div>
				<input class="input-block-level" type="text" name="abstract" id="abstract" placeholder="Enter blog abstract here" value="<%= abstract %>"/>
      </header>
      <div class="row-fluid editor-container">
        <div class="span6 offset3 loading_info">
          <h4><img src="/img/squareajax_30.gif" alt="loading">Loading editor, please standby....</h4>
        </div>
        <div class="ckeditor-container span12">
          <textarea id="editor" name="content" style="display:none;"><%- content %></textarea>
        </div>
        <div class="span12" id="editor-md" style="display:none">
        </div>
      </div>
			<div class="alert alert-block alert-error fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 id="alert_head"></h4>
				<p id="alert_info"></p>
			</div>
			<div class="btn-group">
				<a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" data-loading-text="Posting..." href="#"> Save as.. <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0)" class="submit" data-lang="en"> English </a></li>
					<li><a href="javascript:void(0)" class="submit" data-lang="zh"> 简体中文 </a></li>
				</ul>
			</div>
    </article>
  </section>
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script>
  <script type="text/javascript" src="/js/rangyinputs-jquery.js"></script>
  <script type="text/javascript" src="/js/markditor.js"></script>
  <script type="text/javascript" src="/js/showdown.js"></script>
  <script type="text/javascript" src="/js/to-markdown.js"></script>
  <script type="text/javascript" src="/js/archive_edit.js"></script>
  <script type="text/javascript" src="/js/filter.js"></script>