<section class="profile-header row-fluid">
  <img class="img-polaroid profile-img pull-left" src="/assets/profileimg/<%= profileImgSrc %>" alt="Profile image"/>
  <div class="profile-name">
    <h1><%= profileId %></h1>
    <span><a href="/idn/profile/edit/imgselect" class="btn">Change profile image</a></span>
  </div>
</section>
<section class="profile-edit form-horizontal">
  <p><span class="label">Profile description</span></p>
  <div class="control-group">
    <label class="control-label" for="profile_gender">Gender</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" name="profile_gender" id="profile_gender_Radios1" value="m" <%= p_m_checked %>>
        Male
      </label>
      <label class="radio inline">
        <input type="radio" name="profile_gender" id="profile_gender_Radios2" value="f" <%= p_f_checked %>>
        Female
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_dob">Date of Birth</label>
    <div class="controls">
      <input type="text" class="input-medium" name="profile_dob" id="profile_dob" value="<%= p_dob %>"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_location">Location</label>
    <div class="controls">
      <input type="text" class="input-xlarge" name="profile_location" id="profile_location" value="<%= p_location %>"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_blog_addr">Blog address</label>
    <div class="controls">
      <input type="text" class="input-large" name="profile_blog_addr" id="profile_blog_addr" value="<%= p_blog_addr %>"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_email">E-mail</label>
    <div class="controls">
      <input type="text" class="input-large" name="profile_email" id="profile_email" value="<%= p_email %>"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_intro">Introduction</label>
    <div class="controls">
      <textarea type="text" class="span8" name="profile_intro" id="profile_intro" rows="4"><%= p_intro %></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a class="btn btn-primary profile_submit" href="javascript:void(0)"> Save </a>
    </div>
  </div>
</section>
<section class="profile-change-passwd">
  <p><span class="label">Change password</span></p>
  <div class="control-group">
    <label class="control-label" for="profile_old_passwd">Old password</label>
    <div class="controls">
      <input type="password" class="input-large" name="profile_old_passwd" id="profile_old_passwd" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_new_passwd">New password</label>
    <div class="controls">
      <input type="password" class="input-large" name="profile_new_passwd" id="profile_new_passwd" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="profile_new_passwd_repeat">Repeat new password</label>
    <div class="controls">
      <input type="password" class="input-large" name="profile_new_passwd_repeat" id="profile_new_passwd_repeat" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a class="btn btn-primary profile-passwd-submit" href="javascript:void(0)"> Save </a>
    </div>
  </div>
  <div class="alert alert-success passwd-success" style="display:none;">
    <p>Your password has been successfully modifed.</p>
  </div>
</section>
<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/profile-edit.js"></script>