<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>North Star - IDN</title>
<link rel='shortcut icon' href="/img/favicon.ico" />
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
<link rel="stylesheet" href="/stylesheets/font-awesome.css">
<link rel='stylesheet' href='/stylesheets/common.css' />
<script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	$(".navbar-inner>ul.nav").children("li").removeClass("active");
	$("a[href='/idn/<%= title %>']").parent().addClass('active');
});
</script>
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner"> <img class="brand" src="/img/logo_navbar_en.svg" alt="SFEI Systems">
    <ul class="nav">
    <li><a href="/">System Main</a></li>
      <li class="active"><a href="/idn/">Entry Point</a></li>
      <%- nav_archive %>
      <!--
      
      <li><a href="/idn/docdb">Document Database</a></li>
      <li><a href="/idn/evtdb">Event Dabatase</a></li>
      -->
      
    </ul>
    <ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-white"></i>Select Language</a>
		<ul class="dropdown-menu">
          <li><a href="?lang=en">English</a></li>
          <li><a href="?lang=zh">简体中文</a></li>
        </ul>
	  </li>
      <li class="dropdown">
      	<a href="about" class="dropdown-toggle version" data-toggle="dropdown"><%= version %></a>
        <ul class="dropdown-menu">
        	<%- access %>
          <li class="divider"></li>
          <li><a href="/about">About</a></li>
        </ul>
      </li>
    </ul>
    </div>
</header>
<div class="container">
  <%- body %>
  <footer class="well well-small">
    <h6>&copy; SFEI 2012.</h6>
  </footer>
</div>
<!-- end container --> 
<div class="back-to-top" data-spy="affix" data-offset-top="80">
  <a href="javascript:void(0);" class="btn"><i class="icon-upload"></i></a>
</div>
</body>
</html>
